* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
}
body {
	background-color: rgb(48, 48, 48);
	color: rgb(242, 224, 210);
	width: 100%;
	display: grid;
	align-content: center;
	grid-template-rows: auto 1fr auto;
	gap: 10px;
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
/*

HEADER SECTIONS

*/
header {
	padding: 0.75rem 0;
	position: sticky;
	top: 0;
	background-color: rgb(48, 48, 48);
	z-index: 50;
}
header > nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

div.logo {
	font-size: 20px;
	padding: 20px;
	height: 80px;
	width: 80px;
	background-color: #7f7f7f;
	border-radius: 100%;
	align-content: center;
	text-align: center;
}

.logo-img {
	object-fit: cover;
	height: 80px;
}

nav > ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	font-size: 1rem;
	align-items: center;
}

nav > ul.menus > li a {
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
}

nav > ul.menus > li a:hover {
	background-color: rgb(242, 224, 210);
	color: black;
}
nav > ul.menus > li a:active {
	background-color: rgb(235, 202, 179);
}
a.active {
	background-color: rgb(222, 203, 188);
	color: black;
}

nav > ul > li > a {
	text-decoration: none;
	color: rgb(242, 224, 210);
	line-height: 1.5rem;
}

.rates,
.book {
	padding: 0.75rem 1rem;
}

.rates {
	border: 2px solid rgb(208, 96, 77);
	border-radius: 0.5rem;
}
.rates:hover {
	border-color: rgb(225, 108, 87);
}

.rates:active {
	border-color: rgb(202, 75, 53);
}

.book {
	background-color: rgb(208, 96, 77);
	border-radius: 0.5rem;
}

.book:hover {
	background-color: rgb(225, 108, 87);
}
.book:active {
	background-color: rgb(202, 75, 53);
}

/*

MAIN SECTION

*/
main {
	display: grid;
	grid-template-rows: repeat(5, auto);
	gap: 70px;
}

main > section {
	display: grid;
	gap: 2rem;
}
main > section > h2 {
	font-size: 1.25rem;
	font-weight: 400;
	color: rgb(232, 132, 115);
}
.hero-promotion > figure {
	width: 100%;
	height: 500px;
	position: relative;
}
.hero-promotion > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero-promotion > figure > figcaption {
	position: absolute;
	top: 60px;
	right: 60px;
	width: 30%;
	background-color: rgb(242, 224, 210);
	padding: 2rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.hero-promotion > figure > figcaption > h3 {
	font-size: 3.5rem;
	color: rgb(208, 96, 77);
}
.hero-promotion > figure > figcaption > p {
	color: rgb(59, 59, 59);
}

.hero-promotion > figure > figcaption > button {
	font-size: 1.5rem;
	font-weight: 600;

	background-color: rgb(48, 103, 198);
	color: white;
	outline: none;
	border: none;
	padding: 0.7rem 0;
	border-radius: 10px;
}

.hero-promotion > figure > figcaption > button:hover {
	background-color: rgb(65, 121, 217);
	scale: 1.05;
}
.hero-promotion > figure > figcaption > button:active {
	background-color: rgb(31, 90, 192);
	scale: 1.05;
}

.partners > figure {
	background-color: rgb(249, 213, 186);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding: 1rem 0;
}

.partners > figure > img {
	width: 220px;
	height: 50px;
	object-fit: cover;
}

.services > h2 {
	text-align: center;
}
.services > div {
	display: flex;
	flex-direction: row;
	height: 100%;
	gap: 40px;
}

.services > div > article > figure {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
}

.services > div > article > figure > img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}
.services > div > article > figure > figcaption {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.our-team > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 40px;
}
.our-team > div > article > figure {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.our-team > div > article > figure > img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.feedback > article {
	display: flex;
	flex-direction: row;
	background-color: rgb(222, 203, 188);
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}
.feedback > article > figure {
	display: flex;
	align-items: start;
	background-color: #fff;
	width: 350px;
	gap: 20px;
	padding: 1.2rem;
	border-radius: 10px;
	box-shadow: 6px 6px 1px rgb(60, 60, 60);
}

.feedback > article > figure:hover {
	background-color: #f3f3f3;
	transform: translateY(-20px);
}

.feedback > article > figure > div {
	height: 100%;
}
.feedback > article > figure > div > img {
	border-radius: 100%;
	height: 70px;
	width: 70px;
	object-fit: cover;
	object-position: top;
}

.feedback > article > figure > figcaption > h3 {
	font-size: 1rem;
	color: #333;
}

.feedback > article > figure > figcaption > div {
	display: flex;
}
.feedback > article > figure > figcaption > div > img {
	height: 20px;
}
.feedback > article > figure > figcaption > p {
	font-size: 0.9rem;
	color: #333;
}
footer {
	background-color: rgb(35, 35, 35);
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 0.75rem;
}
footer > div {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20px;
	justify-content: space-between;
}

.newsletter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0 2rem;
}

.footer-logo-img {
	width: 100px;
}

footer > div > figure > figcaption > h3 {
	font-size: 1rem;
	font-weight: 500;
}

footer > div > figure > figcaption > p {
	font-size: 0.8rem;
}
footer > div > div {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
footer > div > div > nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
footer > div > div > nav > p {
	font-size: 1.2rem;
	color: rgb(232, 132, 115);
}

footer > div > div > nav > ul {
	display: grid;
	grid-template-columns: 1fr;
}

footer > div > div > nav > ul > li > a:hover {
	color: rgb(208, 96, 77);
}
.newsletter > span {
	font-size: 0.9rem;
	font-weight: 300;
}
.newsletter > input {
	font-size: 1rem;
	padding: 10px 5px;
	border-radius: 6px;
	outline: none;
	border: 0px;
}

.newsletter > button {
	background-color: #1b68c6;
	font-size: 1rem;
	color: white;
	outline: none;
	border: none;
	padding: 10px 5px;
	border-radius: 6px;
}

.newsletter > button:hover {
	background-color: #2378df;
}

@media screen and (max-width: 768px) {
	header > nav {
		flex-direction: column;
		gap: 1.6rem;
		padding: 0 0 10px 0;
	}

	.hero-promotion > figure > figcaption {
		top: 150px;
		right: 0;
		left: 20px;
		width: 90%;
		text-align: center;
	}
	main > section > h2 {
		text-align: center;
	}

	.partners > figure {
		flex-direction: column;
		gap: 1.25rem;
	}

	.services > div {
		flex-direction: column;
		padding: 0 1rem;
	}
	.our-team > div {
		flex-direction: column;
	}
	.feedback > article {
		flex-direction: column;
		background-color: lightcoral;
	}

	footer > div {
		grid-template-columns: 1fr;
	}
	footer > div > figure {
		grid-column: 1 /3;
	}
	footer > div > div > nav {
		width: 100%;
		grid-row: 2/3;
	}
	footer > div > nav > ul > li > a {
		text-align: center;
		width: 100%;
	}

	.newsletter {
		width: 100%;
	}
}
