* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(48, 48, 48);
	color: rgb(242, 224, 210);
	width: 100%;
	display: grid;
	align-content: center;
	grid-template-rows: 1fr 4fr 1fr;
	gap: 10px;
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
div.logo {
	font-size: 20px;
	padding: 20px;
	height: 80px;
	width: 80px;
	background-color: #7f7f7f;
	border-radius: 100%;
	align-content: center;
	text-align: center;
}

.logo-img {
	object-fit: cover;
	height: 80px;
}
header {
	padding: 0.75rem 0;
}
header > nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

nav > ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	font-size: 1rem;
	align-items: center;
}

nav > ul.menus > li a {
	/* background-color: gray; */
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
	transition-duration: 200ms;
}
nav > ul.menus > li a:hover {
	background-color: rgb(242, 224, 210);
	color: black;
}

nav > ul > li > a {
	text-decoration: none;
	color: rgb(242, 224, 210);
}

.rates,
.book {
	padding: 0.75rem 1rem;
}

.rates {
	border: 2px solid rgb(84, 165, 18);

	border-radius: 0.5rem;
}
.rates:hover {
	border-color: rgb(95, 185, 21);
	transition-duration: 200ms;
}
.book {
	background-color: rgb(84, 165, 18);
	border-radius: 0.5rem;
	transition-duration: 200ms;
}

.book:hover {
	background-color: rgb(101, 193, 26);
}

main {
	background-color: lightblue;
}

footer {
	background-color: rgb(35, 35, 35);
	display: grid;
	grid-auto-flow: column;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding: 0.75rem 0;
}

figure.footer-logo {
}
.footer-logo-img {
	width: 100px;
}

footer > figure > figcaption {
	font-size: 0.9rem;
	font-weight: 300;
}

footer > nav {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
footer > nav > p {
	font-size: 1rem;
}

footer > nav > ul {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: 0.9rem;
	font-weight: 300;
	gap: 6px;
}

.newsletter {
	width: 100%;
	height: 100px;
	display: grid;
	gap: 10px;
	grid-template-rows: 1fr 1fr;
    justify-content: space-between;
}
.newsletter > div {
	display: flex;
	flex-direction: row;
    bg-
}

.newsletter > input {
	font-size: 1rem;
	padding: 10px 5px;
	border-radius: 6px;
}

.newsletter > button {
	background-color: #1b68c6;
	font-size: 1rem;
	color: white;
	outline: none;
	border: none;
	padding: 10px 5px;
	border-radius: 6px;
}
